@import '~antd/dist/antd.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* 
#fc3c3d     el rojito
#004e69    el azul verdoso
*/
@font-face {
  font-family: 'Eina Bold';
  src: url('./assets/fonts/Eina02-Bold.ttf');
}

@font-face {
  font-family: 'Eina Regular';
  src: url('./assets/fonts/Eina02-Regular.ttf');
}

@font-face {
  font-family: 'Eina Light';
  src: url('./assets/fonts/Eina02-Light.ttf');
}

@font-face {
  font-family: 'Eina SemiBold';
  src: url('./assets/fonts/Eina02-SemiBold.ttf');
}

body,
html {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eina SemiBold';
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group label {
  font-family: 'Eina SemiBold';
}

.label_switch {
  font-family: 'Eina Light' !important;
}

.logo {
  width: 10%;
  position: absolute;
  bottom: 4%;
}

.fondo {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 40%;
}

.steps_content {
  margin-bottom: 20px;
  left: 0;
  right: 0;
}

.card {
  border: none !important;
  border-radius: 0.35rem;
  box-shadow: 0 0 20px 0px #dadada;
  cursor: pointer;
  transition: all ease-in 0.2s;
}

.ant-switch-checked {
  background-color: #004e69 !important;
}

.measurements .ant-switch {
  background-color: #fc3c3d;
  width: 100px;
  position: absolute;
  right: 20px;
  font-family: 'Eina Regular';
}

.optional .ant-switch {
  position: absolute;
  right: 20px;
  font-family: 'Eina Regular';
}

.ant-switch-checked .ant-switch-inner {
  margin-right: 0px;
  margin-left: 0px;
}

.ant-input {
  background: #f1f1f1 !important;
  border: none !important;
  font-family: 'Eina SemiBold';
}

.ant-select-selection__placeholder,
.ant-select-search__field__placeholder {
  /* color: #004e69 !important; */
  font-family: 'Eina Light';
}

.ant-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(170, 170, 170);
  /* Firefox */
}

.ant-btn-primary {
  background-color: #004e69;
  border: none !important;
  font-family: 'Eina SemiBold';
}

table {
  font-size: 12px;
}

table td:first-child {
  font-family: 'Eina Regular' !important;
}

table td {
  font-family: 'Eina Light';
  padding: 6px 0 !important;
  text-align: center;
  width: 90px;
  border-bottom: 1px solid #dee2e64a !important;
}

.user_desc label {
  font-family: 'Eina Light';
  font-size: 10px;
  margin-bottom: 0;
}

.user_desc p {
  font-family: 'Eina Regular';
  font-size: 12px;
  margin-bottom: 1px;
}

.btns_next_prev {
  bottom: 100px;
  margin: 0 auto;
  margin-top: 20px;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}

.btns_next_prev div {
  cursor: pointer;
  text-align: center;
  width: 165px;
  margin: 0 10px;
  font-family: 'Eina SemiBold';
}

.btns_next_prev .ant-btn {
  cursor: pointer;
  text-align: center;
  width: 165px;
  margin: 0 10px;
  font-family: 'Eina SemiBold';
}

.ant-switch {
  min-width: 80px !important;
}

.shared {
  background: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  width: 60%;
  margin: 20px auto;
  margin-top: 20px;
}

.shared i {
  margin-right: 10px;
}

.shared:hover {
  box-shadow: 0 0 20px 0px #420000ad;
}

.form-group.select_destino {
  margin-bottom: 0;
}

.ant-select {
  background-color: white !important;
  border: 1px solid #f1f1f1 !important;
}

.ant-input-affix-wrapper {
  background-color: #f1f1f1 !important;
  border: none !important;
}
@media (max-width: 575.98px) {
  .btns_next_prev {
    position: static;
  }

  .btns_next_prev div {
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin: 0 10px;
    font-family: 'Eina SemiBold';
  }

  .btns_next_prev .ant-btn {
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin: 0 10px;
    font-family: 'Eina SemiBold';
  }

  .btns_next_prev {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #steps {
    display: none;
  }

  .App {
    justify-content: start;
  }

  .shared {
    width: 50%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .btns_next_prev {
    position: static;
  }

  .btns_next_prev div {
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin: 0 10px;
    font-family: 'Eina SemiBold';
  }

  .btns_next_prev .ant-btn {
    cursor: pointer;
    text-align: center;
    width: 100px;
    margin: 0 10px;
    font-family: 'Eina SemiBold';
  }

  .btns_next_prev {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #steps {
    display: none;
  }

  .App {
    justify-content: start;
  }
}
